--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
PyGithub
pydantic
python-dotenv

langchain
langchain-chroma
langchain-core
langchain-community
langgraph
langchain-groq
langchain-pinecone
langchain-huggingface
langchain-text-splitters
langchain-anthropic

chromadb
torch==2.12.1
sentence-transformers